*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.total-icon-container{
    background-image: linear-gradient(#fae38c,#fff8db);
}
.total-dosa-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-image: linear-gradient(#fae38c,#fff8db); */
}
.set-list-card-image{
    height: 400px;
    width:100%;
    padding: 20px 0px;
}
.back-icon{
   font-size: 45px;
   margin: 5px 2px;
   color: black;
}
.updation-item-container{
    background-color: #fae38c;
    
}
.updation-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width:767px) {
    .back-icon{
        font-size: 30px;
        margin: 5px 2px;
        color: black;
    }
}