*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
   
}

.set-home-para{
    width:400px;
    margin-left: 100px;
}
.home-para{
    font-family: cursive;
    font-weight: 600;
    font-size: 35px;
    /* margin-top: -30px; */
}
.explore-button-1{
    height:40px;
    width:180px;
    border: none;
    outline:none;
    border-radius: 5px;
    color:white;
    font-weight: 600;
    font-size: 20px;
    /* background-image: linear-gradient(to left,rgb(89, 155, 89),rgb(104, 104, 160)); */
    background-color: orange;
    animation: beat 0.5s infinite alternate;
}
@keyframes beat {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}
.set-carousal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0px;
    background-image: linear-gradient(to right,rgb(109, 255, 255),rgb(230, 136, 230));
    /* background-image: url("https://th.bing.com/th/id/OIP.cmUbqpk1Udke_mPzdSn99gHaEw?rs=1&pid=ImgDetMain");
    background-size: cover; */
}

.total-carousal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    padding: 50px;
    
}
.set-pizza{
    border-radius: 20px;
   height:375px;
   width:375px;
   /* margin: 45px 0px; */
   padding: 10px;
}
.set-breakfast{
    border-radius: 20px;
    height:375px;
    width:375px;
    /* margin: 45px 0px; */
    padding: 10px;
}
.set-fish{
    border-radius: 20px;
    height:375px;
   width:375px;
   /* margin: 45px 0px; */
   padding: 10px;
}
.set-chicken{
    border-radius: 20px;
    height:375px;
   width:375px;
   /* margin: 45px 0px; */
   padding: 10px;
}
.set-burger{
    border-radius: 15px;
    height:375px;
   width:375px;
   /* margin: 45px 0px; */
   padding: 10px;
}
.set-logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 25px;
}

@media (max-width:767px) {
    .set-carousal{
        display: flex;
        flex-direction: column;
    }
    .set-home-para{
        display:flex;
        flex-direction: column;
    }
    .explore-button-2{
        height:40px;
        width:180px;
        border: none;
        outline:none;
        border-radius: 5px;
        color:white;
        font-weight: 600;
        font-size: 20px;
        /* background-image: linear-gradient(to left,rgb(89, 155, 89),rgb(104, 104, 160)); */
        background-color: orange;
        animation: beat 0.5s infinite alternate;
    }
    .explore-button-1{
        display: none;
    }
    
}

@media (min-width:768px) {
    .explore-button-2{
        display: none;
    }
}