*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.set-home-para{
    width:400px;
    margin-left: 100px;
}
.home-para{
    font-family: cursive;
    font-weight: 600;
    font-size: 35px;
    
}
.explore-button-1{
    height:40px;
    width:180px;
    border: none;
    outline:none;
    border-radius: 5px;
    color:white;
    font-weight: 600;
    font-size: 20px;
    background-color: orange;
    animation: beat 0.5s infinite alternate;
}
@keyframes beat {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}
.set-carousal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0px;
    background-image: linear-gradient(to right,rgb(109, 255, 255),rgb(230, 136, 230));
}

.total-carousal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    padding: 50px;
}
.set-pizza,.set-breakfast,.set-fish,.set-chicken,.set-burger{
    border-radius: 20px;
   height:375px;
   width:375px;
   padding: 10px;
}
.set-logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 25px;
}

@media (max-width:767px) {
    .set-carousal{
        display: flex;
        flex-direction: column;
    }
    .set-home-para{
        width: 300px;
        margin-left: 1px;
        display:flex;
        flex-direction: column;
    }
    .set-breakfast,.set-burger,.set-chicken,.set-fish,.set-pizza{
        border-radius: 15px;
        height:300px;
       width:300px;
       padding: 10px;
    }
    .explore-button-2{
        height:40px;
        width:180px;
        border: none;
        outline:none;
        border-radius: 5px;
        color:white;
        font-weight: 600;
        font-size: 20px;
        background-color: orange;
        animation: beat 0.5s infinite alternate;
    }
    .explore-button-1{
        display: none;
    }
    
}

@media (min-width:768px) {
    .explore-button-2{
        display: none;
    }
}